@import "~antd/dist/antd.css";

/* .App {
    text-align: center;
} */

.row {
  padding: 20px 10px 20px 10px;
  position:relative;

 }

 .IconBtn {
   background: #fff;
   border-radius: 20px;
   border-color: #f1f2f5;
   box-shadow: 5px 5px  #ced0d4;
  
 }
/*
#components-layout-trigger .trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

#components-layout-trigger .trigger:hover {
  color: #1890ff;
}

#components-layout-trigger .logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}
*/
.site-layout .site-layout-background {
  background: #fff;
  padding: 30px 30px 30px 30px;
}

/* .MenuUnfoldOutlined {
  align-items: right;
}  */

